<ion-header>
  <ion-toolbar>
    <ion-title>Jokes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngIf="joke">
    <ion-card-header>
      <ion-card-title>{{ joke.category }}</ion-card-title>
      <ion-card-subtitle>{{ joke.type }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <div *ngIf="joke.type === 'single'">{{ joke.joke }}</div>
      <div *ngIf="joke.type === 'twopart'">
        <p>{{ joke.setup }}</p>
        <p><strong>{{ joke.delivery }}</strong></p>
      </div>
    </ion-card-content>
  </ion-card>
  <ion-button expand="block" (click)="fetchData()">Get another joke</ion-button>
</ion-content>
